@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
:root {
  --primary-color: #000000;
  --secondary-color: #FDD835;
  --tertiary-color: #DFDFDF;
  --quaternary-color:#FFFFFF;
  --accent-color: #2196F3;
  --icon-color: #757575;
  --divider-color: #D1D1D1;
  --increasing-line-color:#FEDC4A;
  --header-field-color: #B5B5B5;
  --main-bcg-color: #F1F3F8;
  --rgba1: rgba(0, 0, 0, 1);
  --rgba2: rgba(0, 0, 0, 0.2);
  --rgba5: rgba(0, 0, 0, 0.5);
  --rgba7: rgba(0, 0, 0, 0.7);
  --rgba8: rgba(0, 0, 0, 0.8);
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --font-size-xxs-1: 12px;
  --font-size-xxs: 14px;
  --font-size-xs: 16px;
  --font-size-xs-1: 17px;
  --font-size-s: 18px;
  --font-size-m: 20px;
  --font-size-l: 24px;
  --font-size-xl: 32px;
  --font-size-xxl: 40px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.sub-title {
  margin: 0;
  font-weight: var(--regular);
  line-height: 1.2;
  color: var(--rgba5);
}
@media screen and (min-width: 390px) and (max-width: 576px) {
  .sub-title {
    margin-top: 26px;
    font-size: var(--font-size-xs);
  }
}

.sub-text {
  margin: 0;
  line-height: 1.2;
}
@media screen and (min-width: 390px) and (max-width: 576px) {
  .sub-text {
    margin-top: -5px;
    font-size: var(--font-size-xs);
  }
}

.text-time {
  font-weight: var(--regular);
  font-size: var(--font-size-m);
  line-height: 1.2;
  color: var(--rgba7);
}
@media screen and (min-width: 390px) and (max-width: 576px) {
  .text-time {
    font-size: var(--font-size-xxs);
  }
}

.digit-time {
  font-size: var(--font-size-m);
  line-height: 1.2;
  color: var(--rgba1);
}
@media screen and (min-width: 390px) and (max-width: 576px) {
  .digit-time {
    font-size: var(--font-size-xxs);
  }
}

.timeline {
  margin-left: 270px;
  margin-top: 32px;
}
@media screen and (min-width: 390px) and (max-width: 576px) {
  .timeline {
    margin-left: 0;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-weight: var(--semi-bold);
  font-size: var(--font-size-xl);
  line-height: 1.2;
}
@media screen and (min-width: 390px) and (max-width: 576px) {
  .title {
    font-size: var(--font-size-m);
    line-height: 1.2;
  }
}

.line {
  color: var(--rgba2);
}

.intro-sub-title {
  font-size: var(--font-size-m);
  line-height: 1.2;
  color: var(--rgba1);
}

body {
  margin: auto;
  background-color: var(--main-bcg-color);
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: var(--medium);
  font-size: var(--font-size-s);
}
body .header {
  height: 91px;
  background-color: var(--quaternary-color);
}
body .hero {
  margin-top: 38px;
}
body .hero_top {
  background-color: var(--quaternary-color);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
body .hero_top_wrapper {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 390px) and (max-width: 576px) {
  body .hero_top_wrapper {
    padding: 19px 23px;
  }
}
body .hero_top_wrapper_icon {
  padding-right: 40px;
  color: var(--icon-color);
}
body .hero_top_wrapper_nav {
  display: inline;
  padding-right: 500px;
  text-transform: uppercase;
  color: var(--header-field-color);
  font-weight: var(--regular);
  font-size: var(--font-size-m);
  line-height: 1.2;
}
@media screen and (min-width: 390px) and (max-width: 576px) {
  body .hero_top_wrapper_nav {
    display: none;
  }
}
body .hero_top_wrapper_link {
  color: var(--primary-color);
  font-weight: var(--regular);
  line-height: 1.2;
  text-align: right;
}
@media screen and (min-width: 390px) and (max-width: 576px) {
  body .hero_top_wrapper_link {
    font-weight: var(--regular);
    font-size: var(--font-size-xs-1);
  }
}
body .hero_bottom {
  position: relative;
  overflow: hidden;
  height: 225px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
body .hero_bottom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 256px;
  background-image: url("../assets/bcg.png");
  filter: blur(5px);
  z-index: -1;
}
body .hero_bottom_wrapper {
  padding: 30px 40px 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 390px) and (max-width: 576px) {
  body .hero_bottom_wrapper {
    padding: 13px 12px;
  }
}
body .hero_bottom_wrapper_title {
  color: var(--quaternary-color);
}
@media screen and (min-width: 390px) and (max-width: 576px) {
  body .hero_bottom_wrapper_title {
    font-size: var(--font-size-m);
  }
}
body .open_content {
  margin-top: 28px;
  background-color: var(--quaternary-color);
  border-radius: 20px;
}
@media screen and (min-width: 390px) and (max-width: 576px) {
  body .open_content {
    margin-top: 20px;
  }
}
body .open_content_wrapper {
  padding: 28px 40px 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 390px) and (max-width: 576px) {
  body .open_content_wrapper {
    flex-direction: column;
    padding: 16px 12px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1280px) {
  body .open_content_wrapper {
    flex-direction: column;
    padding: 15px;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 390px) and (max-width: 576px) {
  body .open_content_wrapper_contents {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1920px) and (max-width: 2560px) {
  body .open_content_wrapper_contents {
    margin-right: 550px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1280px) {
  body .open_content_wrapper_contents {
    padding-right: 50px;
  }
}
body .open_content_wrapper_contents > h2 {
  margin: 0;
  font-weight: var(--semi-bold);
  font-size: var(--font-size-xxl);
  line-height: 1.2;
}
@media screen and (min-width: 390px) and (max-width: 576px) {
  body .open_content_wrapper_contents > h2 {
    margin-top: 12px;
    padding-left: 20px;
    margin-bottom: 33px;
    font-size: var(--font-size-l);
  }
}
@media screen and (min-width: 600px) and (max-width: 1280px) {
  body .open_content_wrapper_contents > h2 {
    margin-top: 25px;
  }
}
body .open_content_wrapper_contents > p {
  line-height: 22px;
  color: var(--rgba7);
}
@media screen and (min-width: 390px) and (max-width: 576px) {
  body .open_content_wrapper_contents > p {
    display: none;
  }
}
body .open_content_wrapper_contents_btn {
  margin-left: 18px;
}
@media screen and (min-width: 600px) and (max-width: 1280px) {
  body .open_content_wrapper_contents_btn {
    margin-left: 0;
  }
}
body .open .opencampus-side-bcg {
  width: 295px;
  height: 207px;
  background-color: var(--bcg-color);
  background-image: url("../assets/open-campus.png");
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 390px) and (max-width: 576px) {
  body .open .opencampus-side-bcg {
    width: 314px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1280px) {
  body .open .opencampus-side-bcg {
    width: 100%;
    height: 400px;
    border-radius: 25px;
  }
}
body .open_btn-wrapper {
  margin-left: 35px;
  padding-bottom: 40px;
}
@media screen and (min-width: 390px) and (max-width: 576px) {
  body .open_btn-wrapper {
    display: none;
  }
}
@media screen and (min-width: 600px) and (max-width: 1280px) {
  body .open_btn-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-template-rows: repeat(1, 2fr);
    grid-row-gap: 10px;
  }
}
@media screen and (min-width: 1920px) and (max-width: 2560px) {
  body .open_arrow {
    margin-right: 50px;
    margin-left: 50px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1280px) {
  body .open_arrow {
    display: none;
  }
}
body .calc {
  margin-top: 28px;
}
@media screen and (min-width: 390px) and (max-width: 576px) {
  body .calc {
    margin-top: 20px;
  }
}
body .calc_content {
  background-color: var(--quaternary-color);
  padding: 26px 40px;
  border-radius: 20px;
}
@media screen and (min-width: 390px) and (max-width: 576px) {
  body .calc_content {
    padding: 0 12px;
  }
}
body .calc_content_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 390px) and (max-width: 576px) {
  body .calc_content_wrapper {
    flex-direction: column;
    margin-top: 5px;
    align-items: flex-start;
  }
}
body .calc .calc-card_wrapper {
  margin-top: 29px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 390px) and (max-width: 576px) {
  body .calc .calc-card_wrapper {
    margin-top: 23px;
  }
}
body .calc .calc-card_wrapper_content {
  display: flex;
  justify-content: center;
  background-color: var(--tertiary-color);
  width: 669px;
  text-align: center;
  border-radius: 5px;
}
@media screen and (min-width: 390px) and (max-width: 576px) {
  body .calc .calc-card_wrapper_content {
    margin-bottom: 23px;
    padding: 0 45px;
  }
}
@media screen and (min-width: 390px) and (max-width: 576px) {
  body .calc .calc-card_wrapper_content > p {
    font-size: var(--font-size-xs);
  }
}
body .calc .calc-card_wrapper_content > p > span {
  font-weight: var(--regular);
  line-height: 1.4;
  color: var(--rgba5);
}
@media screen and (min-width: 390px) and (max-width: 576px) {
  body .calc .calc-card_wrapper_content > p > span {
    font-size: var(--font-size-xs);
  }
}
body .subscribe {
  margin-top: 12px;
}
@media screen and (min-width: 390px) and (max-width: 576px) {
  body .subscribe {
    margin-top: 20px;
  }
}
body .subscribe_content {
  padding: 28px 40px;
  background-color: var(--quaternary-color);
  border-radius: 20px;
}
body .subscribe_content_wrapper > h2 {
  margin: 0;
  margin-bottom: 35px;
  font-weight: var(--semi-bold);
  font-size: var(--font-size-xl);
  line-height: 1.2;
}
@media screen and (min-width: 390px) and (max-width: 576px) {
  body .subscribe_content_wrapper > h2 {
    font-size: var(--font-size-m);
  }
}
body .subscribe_content_wrapper_card {
  display: flex;
  gap: 26px;
  align-items: start;
}
body .subscribe_content_wrapper_card:not(last-child) {
  margin-bottom: 51px;
}
@media screen and (min-width: 390px) and (max-width: 576px) {
  body .subscribe_content_wrapper_card {
    gap: 10px;
  }
}
body .subscribe_content_wrapper_card_text > h3 {
  margin: 0;
  font-size: var(--font-size-l);
  line-height: 1.2;
}
@media screen and (min-width: 390px) and (max-width: 576px) {
  body .subscribe_content_wrapper_card_text > h3 {
    font-size: var(--font-size-m);
  }
}
body .subscribe_content_wrapper_card_text > p {
  font-weight: var(--medium);
}
@media screen and (min-width: 390px) and (max-width: 576px) {
  body .subscribe_content_wrapper_card_text > p {
    font-size: var(--font-size-xxs-1);
  }
}
body .subscribe_content_wrapper_card_text_p {
  color: var(--rgba7);
  line-height: 1.2;
}
@media screen and (min-width: 390px) and (max-width: 576px) {
  body .subscribe_content_wrapper_card_text_p {
    display: none;
  }
}
body .intro {
  margin-top: 12px;
}
body .intro_content {
  padding: 28px 40px 79px;
  background-color: var(--quaternary-color);
  border-radius: 20px;
}
body .intro_content_text {
  margin-bottom: 68px;
}
body .intro_content_text > p {
  margin: 0;
  line-height: 1.2;
  color: var(--rgba7);
}
body .intro_content_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .intro_content_wrapper_icons {
  display: flex;
  gap: 12px;
  align-items: center;
}
body .intro_content_main-text {
  margin-bottom: 61px;
}
body .intro_content_main-text > p {
  line-height: 1.3;
  color: var(--rgba7);
}
@media screen and (min-width: 390px) and (max-width: 576px) {
  body .intro_content_main-text > p {
    font-size: var(--font-size-xs);
  }
}
body .intro_content_timeline {
  display: flex;
  justify-content: center;
}
body .footer_content {
  margin-top: 40px;
  margin-bottom: 50px;
  text-align: center;
  color: var(--rgba5);
  font-weight: var(--semi-bold);
  font-size: var(--font-size-m);
  line-height: 1.2;
}
@media screen and (min-width: 390px) and (max-width: 576px) {
  body .footer_content {
    margin-top: 26px;
  }
}/*# sourceMappingURL=main.css.map */